/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* elemento: todos os elemntos HTML são mencionados sem . ou #*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: linear-gradient(164deg, #7a73dd 0%, #791bd7 100%);
    color: white;
    padding: 1rem 2rem;
}

header h1{
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    color:white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

nav a:hover {
    opacity: 1;
}

main {
    min-height: 80vh; /*vh: view height - unidade baseada na altura da viewport(janela do navegador) */
    padding: 4rem 2rem; /*topo/baixo e esquerda/direita*/
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333; 
    color: white;
    text-align: left;
    padding: 2rem;
    margin-top: 2rem;
}

@media (max-width: 760px){
    header{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    main {
        padding: 2rem 1rem;
    }
}